:root {
  --background-color: rgb(247, 247, 245);
  --color: rgb(52, 53, 65);
}

:root[data-theme="dark"] {
  --background-color: rgb(52, 53, 65);
  --color: rgb(236, 236, 241);
}

html {
  background-color: var(--background-color);
  color: var(--color);
}

html[data-theme="dark"] {
  background-color: var(--background-color);
  color: var(--color);
}

html[data-theme="dark"] a {
  color: rgb(122, 59, 255);
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body > p {
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 100px;
}
footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: lightgrey;
  margin-top: 200px;
}

html[data-theme="dark"] footer {
  background: rgb(68, 70, 84);
}

footer p {
  margin-left: 16px;
  font-size: 32px;
  cursor: pointer;
  padding: 8px 0;
}

#nostr-embed {
  max-width: 100%;
}

#nostr-embed p {
  margin-left: 22px;
  margin-top: 8px;
}

.cardInteractions .interactionContainer:first-of-type {
  cursor: pointer;
}

.cardInteractions .interactionContainer:first-of-type svg {
  fill: yellow;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.nostrEmbedCard {
  border: none !important;
}

html[data-theme="dark"] .nostrEmbedCard {
  background-color: hsla(0, 0%, 100%, 0.05);
}

html[data-theme="dark"] .profileName a,
html[data-theme="dark"] #nostr-embed .copyIcon,
html[data-theme="dark"] #nostr-embed .linkIcon,
html[data-theme="dark"] #nostr-embed .displayText {
  color: var(--color);
}

.cardContentMedia > iframe,
.cardContentMedia > img,
.cardContentMedia > video {
  width: 100% !important;
  margin: 16px 0;
}

#github-logo {
  fill: #24292f;
}

html[data-theme="dark"] #github-logo {
  fill: dimgray;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(52, 53, 65);
    color: rgb(236, 236, 241);
  }

  html[data-theme="light"] body {
    background-color: var(--background-color);
    color: var(--color);
  }

  footer {
    background: rgb(68, 70, 84);
  }

  html[data-theme="light"] footer {
    background: lightgrey;
  }

  #github-logo {
    fill: dimgray;
  }

  html[data-theme="light"] #github-logo {
    fill: #24292f;
  }
}
